<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <title>EcoCicle - Login</title>
    <link rel="stylesheet" href="~/css/auth.css" />
</head>
<body>
    <main>
        @RenderBody()
    </main>
</body>
</html>
