.custom-flex-container {
    display: flex;
    min-height: 100vh;
    width: 100vw;
}

.custom-col-left {
    flex: 0 0 30%;
    width: 30%;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem 1rem 0 1rem;
    background: #fff;
    align-items: center;
}

.custom-col-right {
    flex: 0 0 70%;
    width: 70%;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    background: #fff;
}

@media (max-width: 991.98px) {
    .custom-flex-container {
        flex-direction: column;
    }

    .custom-col-left,
    .custom-col-right {
        width: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
}

.toggle-container {
    background: #e5e5e5;
    border-radius: 999rem;
    display: flex;
    width: 100%;
    height: 3.125rem;
    padding: 0.25rem;
    align-items: center;
    overflow: hidden;
}

.toggle-btn {
    flex: 1 1 0;
    border: none;
    padding: 0.625rem 0;
    border-radius: 999rem;
    cursor: pointer;
    color: #222;
    font-weight: 500;
    transition: background 0.1s;
    background-color: #fff;
    color: #198754;
    outline: none;
}

.toggle-btn.active {
    color: #1E1E1E;
    background-color: transparent;
    font-weight: 600;
}

.central-wrapper {
    max-width: 25rem;
    width: 100%;
}

.btn-outline-success.d-flex:hover .fw-bold.text-success {
    color: #fff !important;
}

.btn-outline-success.d-flex:hover .small.text-muted {
    color: #e5ffe5 !important;
}

.btn-link.text-end.d-block {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.code-input {
    width: 3.75rem;
    height: 3.75rem;
    font-size: 1.5rem;
    padding: 0;
}